<?xml version="1.0" encoding="UTF-8" ?>
<!-- Bot-Q TMS (Materials) -->
<robot name="bot_q_tms_materials" xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="body">
    <color rgba="0.2175 0.2355 0.246 1.0" />
  </material>

  <material name="tire">
    <color rgba="0.3 0.3 0.3 1.0" />
  </material>

</robot>
