<?xml version="1.0" encoding="UTF-8" ?>
<robot name="carrier" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="carrier" params="parent prefix">

    <!-- carrier -->
    <joint name="${prefix}_body_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_body_link" />
      <origin xyz="-0.108 0.0 -0.1058" rpy="0 0 0" />
    </joint>

    <link name="${prefix}_body_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 ${M_PI/2}" />
        <geometry>
          <mesh filename="file://$(find bot_q_tms_description)/meshes/carrier/carrier_v2.stl" scale="0.001 0.001 0.001" />
          <!-- <mesh filename="file://$(find bot_q_tms_description)/meshes/carrier/carrier_v3.stl" scale="0.001 0.001 0.001" /> -->
        </geometry>
        <material name="body" />
      </visual>

      <!-- TODO -->
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find bot_q_tms_description)/meshes/carrier/carrier_v2.stl" scale="0.001 0.001 0.001" />
          <!-- <mesh filename="file://$(find bot_q_tms_description)/meshes/carrier/carrier_v3.stl" scale="0.001 0.001 0.001" /> -->
        </geometry>
      </collision>

      <!-- TODO -->
      <inertial>
        <mass value="6.4" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="2.1342e-02" ixy="0" ixz="0"
                 iyy="2.1342e-02" iyz="0"
                 izz="4.2667e-02" />
      </inertial>
    </link>

  </xacro:macro>
</robot>
